Makefile
build-stamp
config.*
configure-stamp
debian/files
debian/*.substvars
doc
*/Makefile
*/moc
*/obj
*/out
debian/webupload-engine-dbg
debian/webupload-engine-dev
debian/webupload-engine-doc
debian/tmp
debian/webupload-engine
debian/webupload-engine-dbg
debian/webupload-engine-tests
debian/*.debhelper
sharing-ui-plugin/uploadengine_interface.*
webupload-engine/transferengine_interface.*
webupload-engine/uploadengine_adaptor.*
